<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juzi.oerp.dao.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.juzi.oerp.model.po.UserInfoPO">
        <id column="user_id" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="identity_no" property="identityNo" />
        <result column="birthday" property="birthday" />
        <result column="phone_no" property="phoneNo" />
    </resultMap>

</mapper>
